# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Basics
__pycache__
*.pid
*.db
.env
.venv

# NPM / Yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Celery
celerybeat-schedule
backend/celerybeat.pid

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
builds
htmlcov
test-reports

# Translations
*.mo
*.pot

# Media dir and collected statics
backend/media/*
!backend/media/test-data/*
*/staticfiles
*/db.sqlite3

# Cypress output
*/cypress/*

# Build output
dist

# SCSS
.sass-cache/
